@font-face {
    font-family: 'FFFForward';
    src: url('../images/FFFFORWA.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#window-container {
    background-image: url('/graphics/nodecg-speedcontrol/images/GreenBack.png');
    width: 1280px;
    height: 720px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

#comingUp {
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    padding-bottom: 2px;
    width: 400px;
}

#justMissed {

      font-family: arial;
      font-style: italic;
      font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 2px;
    width: 400px;
}

#comingUpRun {
    position: absolute;
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
    width: 400px;
}

#justMissedRun {
    position: absolute;

    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    width: 400px;
}


#informationMarquee {

      font-family: arial;
      font-style: italic;
      font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 500px;
    left: 0px;
    height: 0px;
    width: 1280px;
    overflow:hidden;
    white-space: nowrap;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    font-size: 15px;
    text-align: center;
}

#comingUpGame {
    color: #ffffff;
    width: 400px;
        font-size: 30px;

        font-family: arial;
        font-style: italic;
        font-weight: bold;
}

#comingUpSystem {

      font-family: arial;
      font-style: italic;
      font-weight: bold;
    padding-right: 5px;
    color: #ffffff;
    width: 100px;
    text-align: right;
    background: #271e2f;
}
#comingUpCathegory {
    color: #856899;
    width: 220px;
    background: #271e2f;
}

#justMissedGame {

      font-family: arial;
      font-style: italic;
      font-weight: bold;
    padding: 2px;
    color: #ffffff;
    width: 400px;
        font-size: 30px;
}

#justMissedSystem {
    padding-right: 5px;
    color: #856899;
    width: 100px;
    text-align: right;
    background: #271e2f;

}
#justMissedCathegory {
    padding: 2px;
    color: #856899;
    width: 220px;
    background: #271e2f;
}
